apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: itgo
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-jwqo-tenant/byoc-app-czwk/itgo@sha256:b4b49162b7305b4a7a5baa39838d7d73418fbc545e3ef3181feb08107db19a36
        name: my-java-quarkus
        resources: {}
status: {}
